<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42432529299-v8j08gl9pa0ba8iophpa2gqovm03rpj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42432529299-v8j08gl9pa0ba8iophpa2gqovm03rpj1</string>
	<key>API_KEY</key>
	<string>AIzaSyAS4HaW9gpmeHNu9NryTDVvfhYt_hChPuk</string>
	<key>GCM_SENDER_ID</key>
	<string>42432529299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xevo.ashish.LoginApp</string>
	<key>PROJECT_ID</key>
	<string>loginapp-3acca</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-3acca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42432529299:ios:7241ed0b6ad96b758b9e66</string>
	<key>DATABASE_URL</key>
	<string>https://loginapp-3acca.firebaseio.com</string>
</dict>
</plist>